
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
body{
   margin:0 auto;
}
/* navigation */
nav{
    background-color: #233e50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
}

ul{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   gap: 5rem; 
   font-size: medium;
   color: #fff;
}
.logo{
   width: 100px;
   height: 100px;
  object-fit: contain;
}
a{
    text-decoration: none;
    color: #fff;
}
button{
    padding: 10px 25px;
    border-radius: 100px;
    font-size: medium;
    border: none;
    color: #201E1E;
    font-weight: 600;
    background-color: #19DE68;

}
/* about us */
.about{
    height: 600px;
    background-color: #061741;
    color: #fff;
    padding: 3rem 4rem;
  
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
   text-align: center;
}
h1{
   font-size: 3rem;
}
p{
    opacity: 0.6;
}
/* Hero section */
.hero-section{
        justify-content: center;
        align-items: center;
        display: flex;
       
}
.grid-viwe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 500px;
    justify-self: center;
    width: 50%;
}
.grid-viwe > :nth-child(2){
    grid-row: span 2;
}
/* story section */
.stories{
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    gap: 2rem;
    margin-top: 550px;
}
.story-buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.stories-button{
  
    border: 2px solid;
    border-color: #201E1E;
    background-color: #fff;

}
.story-p{
    opacity: 0.9;
}
/* 
our numbers */

.our-numbers{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: #061741;
    color: #fff;
    text-align: center;
}
.Numbers-division{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-top: 2rem;
    gap: 12rem;
}
.single-division{
    display: flex;
    flex-direction: column;
   
    text-align: center;
}

.capacity{
    color: #19DE68;
}
/* team */
.team{
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    gap: 2rem;
    
}
.image-division{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem; 
}
.position{
    opacity: 0.8;
}
/* card section */
.card-section{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background-color: #061741;
    padding:4rem 8rem ;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
 .card{
    background-color: #233e50;
    color: #fff;
    width: 90%;
    border: 2px;
    border-radius: 30px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.card-discription{

    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
/* 
fotter section */

.fotter{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 4rem 4rem;
 align-items: center;
 justify-content: space-between;
}
.company{
    display: flex;
    flex-direction: column;
   gap: 1rem;
    width: 30%;
}
.fotter-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.foth3{
    opacity: 0.8;
    font-weight: 500;
}